# Introduction to Lists and Tuples

## Overview

### Mutable vs. Immutable

- A data structure is **mutable** if its content can be changed in place.
- A data structure is **immutable** if its content cannot be changed.

**Best practice.** Avoid mutation when possible, as it makes it harder to reason about your program.

## What are lists and tuples?

* a `list` is a *mutable* ordered sequence.
* a `tuple` is am *immutable* ordered sequence.
    * `list`: index $\rightarrow$ value
    * `dict`: key $\rightarrow$ value
* **Zero indexing.** List/tuple index start a `0` and increase by 1.
* **Mixed type.**  A list or tuple can contain any combinations of types.

**Best practice.** Make lists and tuples that contain one-and-only-one type.

## Inline representation

* delimited by `[...]` [lists] and `(...)` [tuples]
* Entries separated by commas

In [21]:
prof_first = ['April', 'Brant', 'Chris', 'Jeff', 'Tisha', 'Todd', 'Silas']
prof_first

['April', 'Brant', 'Chris', 'Jeff', 'Tisha', 'Todd', 'Silas']

In [22]:
type(prof_first)

list

In [23]:
prof_last = ('Kerby-Helm', 'Deppa', 'Malone', 'Johnson', 'Hooks', 'Iverson', 'Bergen')
prof_last

('Kerby-Helm', 'Deppa', 'Malone', 'Johnson', 'Hooks', 'Iverson', 'Bergen')

In [24]:
type(prof_last)

tuple

## Accessing values - Index Syntax

In [25]:
prof_first[0] # positive index ==> count from the left

'April'

In [26]:
prof_last[-2] # negative index ==> count from the right

'Iverson'

## Accessing values - `toolz.get`

* Same function for lists and dictionaries
* Can get multiple keys
* Allows a default value

In [29]:
!pip install toolz
from toolz import get
get(0, prof_first)

Collecting toolz
  Downloading toolz-1.0.0-py3-none-any.whl.metadata (5.1 kB)
Downloading toolz-1.0.0-py3-none-any.whl (56 kB)
Installing collected packages: toolz
Successfully installed toolz-1.0.0

'April'

In [30]:
get([2, -1], prof_last)

('Malone', 'Bergen')

## empty dictionary, `len` and `in`

* The empty `list` is `[]`
* The empty `tuple` is `tuple([])` [Why not `()`?]
* `len(d)` returns number of entries
* `in` check for entry

In [31]:
len([])

0

In [32]:
len(tuple([]))

0

In [33]:
len(prof_first)

7

In [34]:
'todd' in prof_first

False

In [35]:
'Iverson' in prof_last

True

## Working with strings and list

We frequently work with strings and lists by 
* splitting a string into a list, and
* combining a list of strings into one string

### Combining a list of string

Use `"sep".join(seq)` to combine a list of strings into one string.

In [36]:
all_first = ', '.join(prof_first)

all_first

'April, Brant, Chris, Jeff, Tisha, Todd, Silas'

### Splitting a string into a list

* Use `s.split("sep")` to split a string on each "sep"
* Use `s.split()` on any whitespace.

In [37]:
all_first.split(', ')

['April', 'Brant', 'Chris', 'Jeff', 'Tisha', 'Todd', 'Silas']

## `list` comprehensions

An expressive and fast way of iterating on any sequence.

**Syntax.** 
1. **Without filter.** `[expr for var in seq]`
2. **With filter.** `[expr for var in seq if bool_expr]`

#### Example 1 - Lowercase first names.

In [41]:
[name.lower() for name in prof_first]

['april', 'brant', 'chris', 'jeff', 'tisha', 'todd', 'silas']

#### Example 2 - Last names starting with a vowel

In [42]:
vowels = "aeiou"

[name for name in prof_last if name.lower()[0] in vowels]

['Iverson']

## Other common actions on sequences

### Combining two lists by position with `zip`

In [43]:
name_tuples = [(f, l) for f, l in zip(prof_first, prof_last)]

name_tuples

[('April', 'Kerby-Helm'),
 ('Brant', 'Deppa'),
 ('Chris', 'Malone'),
 ('Jeff', 'Johnson'),
 ('Tisha', 'Hooks'),
 ('Todd', 'Iverson'),
 ('Silas', 'Bergen')]

In [44]:
# Combine using the `join` method
full_name = [" ".join((f, l)) for f, l in zip(prof_first, prof_last)]

full_name

['April Kerby-Helm',
 'Brant Deppa',
 'Chris Malone',
 'Jeff Johnson',
 'Tisha Hooks',
 'Todd Iverson',
 'Silas Bergen']

In [45]:
# Combine using an f-string
full_name = [f"{f} {l}" for f, l in zip(prof_first, prof_last)]

full_name

['April Kerby-Helm',
 'Brant Deppa',
 'Chris Malone',
 'Jeff Johnson',
 'Tisha Hooks',
 'Todd Iverson',
 'Silas Bergen']

### Enumerating a sequence

When we need to know both the value and the location of each item, we can use `enumerate`

In [46]:
enum_name = [(i, n) for i, n in enumerate(full_name)]
enum_name

[(0, 'April Kerby-Helm'),
 (1, 'Brant Deppa'),
 (2, 'Chris Malone'),
 (3, 'Jeff Johnson'),
 (4, 'Tisha Hooks'),
 (5, 'Todd Iverson'),
 (6, 'Silas Bergen')]

In [47]:
odd_index_names = [n for i, n in enumerate(full_name) if i % 2 == 1]
odd_index_names

['Brant Deppa', 'Jeff Johnson', 'Todd Iverson']

### Chaining two sequences together

If we want to iterate through one sequence after the other, we can use `itertools.chain`

In [ ]:
from itertools import chain

[n for n in chain(prof_first, prof_last)]

## <font color="red"> Exercise 3.0.1 </font>

**Task.** Use a `list` comprehension and `string.join` to 
1. Make the words in each of the following sentences alternate between UPPER and lower case, and
2. Combine the two resulting quotes into one string.

In [48]:
seuss1 = "Today you are you That is truer than true There is no one alive who is you-er than you"
seuss2 = "You're in pretty good shape for the shape you are in"

In [49]:
# Your code here
seuss1 = "Today you are you That is truer than true There is no one alive who is you-er than you"
seuss2 = "You're in pretty good shape for the shape you are in"

seuss_alternate_1 = " ".join([word.upper() if i % 2 == 0 else word.lower() 
                 for i, word in enumerate(seuss1.split())])

seuss_alternate_2 = " ".join([word.upper() if i % 2 == 0 else word.lower() 
                 for i, word in enumerate(seuss2.split())])
seuss_result = seuss_alternate_1 + " " + seuss_alternate_2
seuss_resilt

"TODAY you ARE you THAT is TRUER than TRUE there IS no ONE alive WHO is YOU-ER than YOU YOU'RE in PRETTY good SHAPE for THE shape YOU are IN"